**/node_modules
**/node_modules/**
npm-debug.log
build
dist
.git
.gitignore
README.md
.env.local
.env.development.local
.env.test.local
.env.production.local
*.md
.DS_Store
coverage
.vscode
.idea
.next
.vercel
logs
*.log
.eslintcache
.history
.yarn
*.tgz
firebase
html
meta*.json
.claude
**/.bin
**/.bin/**
